@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'),
    url('./fonts/slick.woff') format('woff'),
    url('./fonts/slick.ttf') format('truetype'),
    url('./fonts/slick.svg#slick') format('svg');
}

div.slider-arrow {
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.445);
  position: absolute;
  padding: 0px 10px;
  top: 45%;
  margin-top: -18px;
  color: #ffffff;
  line-height: 36px;
  font-size: 28px;
  cursor: pointer;
  z-index: 10;
}
div.slider-prev {
  left: 0;
}
div.slider-next {
  right: 0;
}
div.slick-slide {
  color: #fff;
  text-align: center;
  font-size: 1.1em;
  outline: 0;
}
