@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #4c7ea1;
}

body {
  margin: 0px;
}
nav {
  background-color: white;
  /* padding: 10px; */
}
nav a {
  padding: 10px 20px;
}
nav .nav-menu {
  display: flex;
  justify-content: space-between;
}
.space-between {
  justify-content: space-between;
}
.flex-direction {
  flex-direction: column;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-right-5 {
  padding-right: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-right-10 {
  margin-right: 10px;
}
.padding-top-20 {
  padding-top: 20px;
}
nav .nav-menu .menu-left {
  display: flex;
}
nav .nav-menu .menu-right {
  display: flex;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  text-decoration: none !important;
}
.nav-link a {
  text-decoration: none !important;
}
.logo {
  padding-right: 30px;
}
.form-group {
  border-radius: 3px;
  padding: 0px 10px;
  margin: 10px 0px;
  border: rgb(148, 148, 148) solid 1px;
}
.form-group input {
  border: none;
  outline: none;
  width: 350px;
  padding: 10px 0px 10px 20px;
  height: 48px;
}

.form-group-not-border {
  border-radius: 3px;
  padding: 0px 0px;
  border: rgb(148, 148, 148) solid 1px;
}
.form-group-not-border input {
  border: none;
  outline: none;
  width: 80%;
  padding: 10px 0px 10px 0px;
  height: 48px;
}

/* ini section 1 */
.section-1 {
  background-color: #4c7ea1;
  padding: 60px 20px;
}

.form-group-not-border {
  border: none;
}
.display-flex {
  display: flex;
}
.fullsize {
  /* align-items: center; */
  width: 100%;
  height: 100%;
}

/* color */
.color-white {
  color: white;
}
.font-weight-normal {
  font-weight: 100;
}
.background-white {
  background-color: white;
}

/* padding */
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.padding-30 {
  padding: 30px;
}

/* rating */

.rating-css {
  cursor: pointer;
  height: 15px;
  font-size: 0;
}

.rating-css input {
  display: none;
}

.rating-css input + label {
  display: inline-block;
  width: 10px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #ffc107;
  cursor: pointer;
}

.rating-css input + label.fa-heart {
  color: #ee2351;
}

.rating-css input:checked + label ~ label {
  color: #555;
}

.rating-css.hover-effect input:checked + label ~ label {
  opacity: 0.5;
}

.rating-css.hover-effect:hover input + label ~ label {
  opacity: 1;
}

.rating-css.hover-effect:hover input:hover + label ~ label {
  opacity: 0.5;
}

/* owl */

/* end fix */
.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  margin-top: -20px;
  left: 0;
}
.owl-nav button.owl-next {
  margin-top: -20px;
  right: 0;
}

.space-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.item {
  height: 300px;
  display: flex;
  align-items: flex-end;
}

/* color */
.is-white {
  color: white;
}

.padding-30 {
  padding: 30px;
}

.rating {
  display: flex;
}

.rating img {
  width: 7px;
  height: 7px;
}

.absolute {
  position: absolute;
}

.padding-10 {
  padding: 10px;
}
.w-100 {
  width: 100%;
}

.slick-slide {
  offset: none !important;
}

.ai-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

.cover {
  position: relative;
  color: white;
}
.cover-img {
  margin-bottom: 5px;
}

.cover-subtitle {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.title {
  font-size: 20px;
}

.border-radius {
  border-radius: 2px;
}

.m-top-10 {
  margin-top: 10px;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

.button {
  background-color: #ffd7b2;
  cursor: pointer;
}
.button:hover {
  background-color: #e4a162;
  cursor: pointer;
}

.jc-center {
  justify-content: center;
}

.slick-dots {
  display: none !important;
}

.ocean {
  background-color: #d7e1e9;
}

/* This line can be removed it was just for display on CodePen: */

.slider-labels {
  margin-top: 10px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #345dbb;
}

/* Styling;
 */
.noUi-background {
  background: #d6d7d9;
}

.noUi-connect {
  background: #345dbb;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345dbb;
  border: 8px solid rgba(53, 93, 187, 0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

button {
  background: none;
  border: 0;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 2em;
  box-shadow: inset 0 0 0 2px #f45e61;
  color: #f45e61;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

.draw {
  transition: color 0.25s;
}
.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #ff5e03;
  color: white;
}

.tag:hover::after {
  border-left-color: #FF5e03;
}

.modal-overlay {
  position: fixed;
  top: 0;
  z-index: 99999;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.425);
}

.star-rating {
  text-align: center;
}

.rating {
  display: inline-block;
  position: relative;
  width: 100%;
}
.rating input[type='radio'] {
  position: absolute;
  opacity: 0;
  height: 1px;
  width: 1px;
  bottom: 0;
}

.star {
  transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-bottom: 1.26em solid #d3d3d3;
  border-left: 1.8em solid transparent;
  border-right: 1.8em solid transparent;
  display: inline-block;
  height: 0;
  margin-bottom: 0.9em;
  margin-top: 0.9em;
  position: relative;
  width: 0;
  margin-right: 0.4em;
  font-size: 8px;
  margin-bottom: 20px;
}
.star:before,
.star:after {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}
.star:before {
  transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  border-bottom: 1.44em solid #d3d3d3;
  border-left: 0.54em solid transparent;
  border-right: 0.54em solid transparent;
  left: -1.17em;
  top: -0.81em;
}
.star:after {
  transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  border-bottom: 1.26em solid #d3d3d3;
  border-left: 1.8em solid transparent;
  border-right: 1.8em solid transparent;
  left: -1.89em;
  top: 0.054em;
}

.star-5.active,
.star-5.active ~ .star {
  border-bottom-color: #ff5254;
}
.star-5.active:before,
.star-5.active:after,
.star-5.active ~ .star:before,
.star-5.active ~ .star:after {
  border-bottom-color: #ff5254;
}

input[type='radio'] + .star-5 {
  cursor: pointer;
}
input[type='radio'] + .star-5:hover,
input[type='radio'] + .star-5:hover ~ .star {
  border-bottom-color: #ff5254;
}
input[type='radio'] + .star-5:hover:before,
input[type='radio'] + .star-5:hover:after,
input[type='radio'] + .star-5:hover ~ .star:before,
input[type='radio'] + .star-5:hover ~ .star:after {
  border-bottom-color: #ff5254;
}

.rating:not(:hover) .radio-5:checked ~ .star {
  border-bottom-color: #ff5254;
}
.rating:not(:hover) .radio-5:checked ~ .star:before,
.rating:not(:hover) .radio-5:checked ~ .star:after {
  border-bottom-color: #ff5254;
}

.star-4.active,
.star-4.active ~ .star {
  border-bottom-color: #ff6c35;
}
.star-4.active:before,
.star-4.active:after,
.star-4.active ~ .star:before,
.star-4.active ~ .star:after {
  border-bottom-color: #ff6c35;
}

input[type='radio'] + .star-4 {
  cursor: pointer;
}
input[type='radio'] + .star-4:hover,
input[type='radio'] + .star-4:hover ~ .star {
  border-bottom-color: #ff6c35;
}
input[type='radio'] + .star-4:hover:before,
input[type='radio'] + .star-4:hover:after,
input[type='radio'] + .star-4:hover ~ .star:before,
input[type='radio'] + .star-4:hover ~ .star:after {
  border-bottom-color: #ff6c35;
}

.rating:not(:hover) .radio-4:checked ~ .star {
  border-bottom-color: #ff6c35;
}
.rating:not(:hover) .radio-4:checked ~ .star:before,
.rating:not(:hover) .radio-4:checked ~ .star:after {
  border-bottom-color: #ff6c35;
}

.star-3.active,
.star-3.active ~ .star {
  border-bottom-color: #ff9900;
}
.star-3.active:before,
.star-3.active:after,
.star-3.active ~ .star:before,
.star-3.active ~ .star:after {
  border-bottom-color: #ff9900;
}

input[type='radio'] + .star-3 {
  cursor: pointer;
}
input[type='radio'] + .star-3:hover,
input[type='radio'] + .star-3:hover ~ .star {
  border-bottom-color: #ff9900;
}
input[type='radio'] + .star-3:hover:before,
input[type='radio'] + .star-3:hover:after,
input[type='radio'] + .star-3:hover ~ .star:before,
input[type='radio'] + .star-3:hover ~ .star:after {
  border-bottom-color: #ff9900;
}

.rating:not(:hover) .radio-3:checked ~ .star {
  border-bottom-color: #ff9900;
}
.rating:not(:hover) .radio-3:checked ~ .star:before,
.rating:not(:hover) .radio-3:checked ~ .star:after {
  border-bottom-color: #ff9900;
}

.star-2.active,
.star-2.active ~ .star {
  border-bottom-color: #3f9e37;
}
.star-2.active:before,
.star-2.active:after,
.star-2.active ~ .star:before,
.star-2.active ~ .star:after {
  border-bottom-color: #3f9e37;
}

input[type='radio'] + .star-2 {
  cursor: pointer;
}
input[type='radio'] + .star-2:hover,
input[type='radio'] + .star-2:hover ~ .star {
  border-bottom-color: #3f9e37;
}
input[type='radio'] + .star-2:hover:before,
input[type='radio'] + .star-2:hover:after,
input[type='radio'] + .star-2:hover ~ .star:before,
input[type='radio'] + .star-2:hover ~ .star:after {
  border-bottom-color: #3f9e37;
}

.rating:not(:hover) .radio-2:checked ~ .star {
  border-bottom-color: #3f9e37;
}
.rating:not(:hover) .radio-2:checked ~ .star:before,
.rating:not(:hover) .radio-2:checked ~ .star:after {
  border-bottom-color: #3f9e37;
}

.star-1.active,
.star-1.active ~ .star {
  border-bottom-color: #14892c;
}
.star-1.active:before,
.star-1.active:after,
.star-1.active ~ .star:before,
.star-1.active ~ .star:after {
  border-bottom-color: #14892c;
}

input[type='radio'] + .star-1 {
  cursor: pointer;
}
input[type='radio'] + .star-1:hover,
input[type='radio'] + .star-1:hover ~ .star {
  border-bottom-color: #14892c;
}
input[type='radio'] + .star-1:hover:before,
input[type='radio'] + .star-1:hover:after,
input[type='radio'] + .star-1:hover ~ .star:before,
input[type='radio'] + .star-1:hover ~ .star:after {
  border-bottom-color: #14892c;
}

.rating:not(:hover) .radio-1:checked ~ .star {
  border-bottom-color: #14892c;
}
.rating:not(:hover) .radio-1:checked ~ .star:before,
.rating:not(:hover) .radio-1:checked ~ .star:after {
  border-bottom-color: #14892c;
}

/* collor */
.color-black {
  color: black;
}

.color-orange {
  color: tomato;
}

.width100 {
  width: 100%;
}
.height100 {
  height: 100%;
}

/* pagination */
.pagination {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination li {
  display: inline-block;
}
.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #4c7ea1;
  border-radius: 50%;
  color: #ffffff;
  background: #4c7ea1;
  text-decoration: none;
}
.pagination li a.active {
  color: #4c7ea1;
  background: #ffffff;
}
.pagination li.elip {
  margin: 0 0.5rem;
}

.pagination.shake li a:hover {
  animation: shake 0.35s linear;
}

.pagination.contract li {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.pagination.contract li a:hover {
  animation: contract 0.3s linear;
}

@keyframes contract {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rating-img {
  width: 20px;
  margin-right: 7px;
  margin-top: 10px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.height-33 {
  height: 30%;
  margin-bottom: 7px;
}

.grid-1 {
  background: url('assets/img/facilitas/detail2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-2 {
  background: url('assets/img/facilitas/detail3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-3 {
  background: url('assets/img/facilitas/detail4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-4{
  background: url('assets/img/facilitas/detail1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.width30px {
  width: 30px;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.background-grey {
  background: rgb(240, 240, 240);
}

.height-150 {
  height: 150px;
}

.height-200 {
  height: 200px;
}

.avatar {
  height: 40px;
  border-radius: 100%;
  background: url('https://i.pinimg.com/originals/79/d5/87/79d587dfe991e8892bf892b161ff8968.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
}

.padding-right-10 {
  padding-right: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-input {
  border-radius: 3px;
  padding: 10px 10px;
  height: 48px;
  margin: 10px 0px;
  border: rgb(148, 148, 148) solid 1px;
}

.form {
  margin-bottom: 20px;
  border-left: #3f9e37 solid 5px;
  padding-left: 30px;
}

.color-grey {
  color: rgb(180, 180, 180);
}

.no-wrap {
  white-space: nowrap;
}

.r-none {
  display: none;
}
.r-padding-buttom {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 576px) {
  .r-mobile {
    display: none !important;
  }
  .margin-10 {
    margin-left: 11px;
  }
  nav {
    display: flex;
    align-items: center;
    height: 50px;
  }
  .r-none {
    display: inline-block;
  }
  .height-33 {
    height: 50px !important;
    margin-bottom: 7px;
    width: 33%;
  }
  .r-padding-buttom {
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .row-reverse {
    flex-direction: column-reverse;
  }
  .r-height-20 {
    height: 20px;
  }
  .r-height-100 {
    height: 200px;
  }
}
@media (max-width: 768px) {
  .r-mobile {
    display: none !important;
  }
  nav {
    display: flex;
    align-items: center;
    height: 50px;
  }
  .r-none {
    display: inline-block;
  }
  .row-reverse {
    flex-direction: column-reverse;
  }
  .column {
    flex-direction: column;
  }
  .row {
    flex-direction: row !important;
  }
  .r-height-20 {
    height: 20px;
  }
  .r-height-100 {
    height: 200px;
  }
}
@media (max-width: 992px) {
  .r-mobile {
    display: none !important;
  }
  nav {
    display: flex;
    align-items: center;
    height: 50px;
  }
  .r-none {
    display: inline-block;
  }
  .row-reverse {
    flex-direction: column-reverse;
  }
  .r-height-20 {
    height: 20px;
  }
  .r-height-100 {
    height: 200px;
  }
}
.overlay {
  background-color: white;
  z-index: 999;
  left: 0;
  display: flex !important;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}
.non-active {
  display: none;
}

.display-inline-block {
  display: inline-block !important;
}

/* form  */

form#login-form {
  background: #fff;
  width: 50em;
  margin: 2em auto;
  overflow: hidden;
  position: relative;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-box-shadow: 0 0 0.2em #000;
  -webkit-box-shadow: 0 0 0.2em #000;
  box-shadow: 0 0 0.2em #000;
}
form#login-form div.heading {
  background: #4c7ea1;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1.5em;
}
form#login-form div.left {
  width: 50%;
  float: left;
  padding: 1.7em 1.5em 2.5em 1.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form#login-form div.right {
  width: 50%;
  float: right;
  padding: 1.7em 1.5em 2.5em 1.5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form#login-form:before {
  content: 'or';
  color: gray;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 0.5em;
  width: 0.5em;
  left: -1.5em;
  top: 1.2em;
  z-index: 900;
}
form#login-form:after {
  content: '';
  position: absolute;
  background: rgba(128, 128, 128, 0.3);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 7.25em;
  width: 0.1em;
  left: -0.85em;
  top: -6.8em;
  -moz-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
  -webkit-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
  box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
}

div.left label {
  display: inline-block;
  color: gray;
  font-size: 15px;
  margin-top: 0.6em;
}
div.left input[type='email'],
div.left input[type='password'] {
  width: 100%;
  border: 1px solid #dfdfdf;
  padding: 1em;
  margin: 0.6em 0;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
  -webkit-box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
  box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
div.left input[type='email']:hover,
div.left input[type='password']:hover {
  outline: none;
  border: 1px solid #4c7ea1;
}
div.left input[type='email']:focus,
div.left input[type='password']:focus {
  outline: none;
  border: 0.1em solid #bdbdbd;
}
div.left input[type='submit'] {
  background: #4c7ea1;
  color: #fff;
  outline: none;
  padding: 1em;
  overflow: hidden;
  border: none;
  letter-spacing: 0.1em;
  margin: 0.5em 0;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
div.left input[type='submit']:hover {
  background: #4c7ea1;
}

div.right div.connect {
  color: gray;
  font-size: 1.1em;
  text-align: center;
}
div.right a {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  color: white;
  width: 9em;
  padding: 1em 0.3em;
  clear: both;
  text-align: center;
  margin: 0.5em 0.1em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}
div.right a.facebook {
  width: 100%;
  background: #3a589a;
  margin-top: 0.8em;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
div.right a.facebook:hover {
  background: rgba(58, 88, 154, 0.8);
}
div.right a.twitter {
  width: 100%;
  background: #4099ff;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
div.right a.twitter:hover {
  background: rgba(64, 153, 255, 0.8);
}
div.right a.google-plus {
  width: 100%;
  background: #e9544f;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
div.right a.google-plus:hover {
  background: rgba(233, 84, 79, 0.8);
}

/* ticket */

.phone {
  width: 300px;
  height: 600px;
  background: #020024;
  background: linear-gradient(163deg, #020024 0%, #427166 52%, #427166 100%);
  border-radius: 2.5rem;
  border: 1rem solid #43464b;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
  margin: auto;
  overflow: hidden;
  padding: 0.25rem;
}
.phone .phone-head {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;
  background-color: transparent;
}
.phone .phone-head .phone-head--item {
  width: 33%;
  color: white;
  padding: 0 0.75rem;
  align-items: center;
  justify-content: center;
}
.phone .phone-head .phone-head--item > i,
.phone .phone-head .phone-head--item h6 {
  margin-top: 1rem;
}
.phone .phone-head .phone-head--item h6 {
  text-align: center;
}
.phone .phone-head .phone-head--item .fa-align-left {
  margin-left: 75%;
}
.phone .ticket-container {
  width: 95%;
  height: 80%;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid black;
  margin: auto;
  margin-bottom: 1rem;
}
.phone .ticket-container:before {
  content: '';
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: #172432;
  border-radius: 50%;
  transform: translate(170%, -50%);
}
.phone .ticket-container .movie-image {
  width: 100%;
  height: 40%;
  background-image: url('https://images.ladbible.com/thumbnail?type=webp&url=http://beta.ems.ladbiblegroup.com/s3/content/1d2200895d5ea6e07a43fefb87ac56c4.png&quality=70&width=720');
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.phone .ticket-container .ticket-info {
  width: 100%;
  height: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.phone .ticket-container .ticket-info .movie-title {
  padding: 1rem;
}
.phone .ticket-container .ticket-info .movie-title h2 {
  margin: 0;
  font-size: 2rem;
}
.phone .ticket-container .ticket-info .movie-title span {
  color: #666;
  font-size: 0.75rem;
}
.phone .ticket-container .ticket-info .seat-info {
  display: flex;
  flex-direction: row;
}
.phone .ticket-container .ticket-info .seat-info .seat-info--item {
  flex: 0 0 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.phone .ticket-container .ticket-info .seat-info .seat-info--item:nth-child(2) {
  border-right: 1px solid #a3a3a3;
  border-left: 1px solid #a3a3a3;
}
.phone .ticket-container .ticket-info .seat-info .seat-info--item h3 {
  margin: 0;
}
.phone .ticket-container .ticket-info .seat-info .seat-info--item p {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}
.phone .ticket-container .ticket-info .barcode-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40%;
}
.phone .navbar {
  width: 100%;
  height: 5%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}
.phone .navbar .nav--item {
  flex: 0 0 25%;
  margin: auto;
  display: flex;
  justify-content: center;
  color: white;
}
.phone .navbar .nav--item:nth-child(2) {
  border-left: 1px solid #a3a3a3;
  border-right: 1px solid #a3a3a3;
}
.phone .navbar .nav--item:nth-child(3) {
  border-right: 1px solid #a3a3a3;
}
.phone .navbar .nav--item i.active {
  color: #dd423a;
}

.credit {
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.125em;
  color: black;
}
.credit .credit--link {
  color: #1565c0;
  text-decoration: none;
  cursor: pointer;
}
.credit .credit--link:hover {
  text-decoration: underline;
}
/*buat tiket*/
.date {
  border: 1px solid #4c7ea1;
  padding: 10px;
  background-color: white;
}
.justify-end {
  justify-content: flex-end;
  color: orange;
}

.align-end {
  align-items: flex-end;
}

.height100 {
  height: 100%;
}
input[type='submit'].button-tiket {
  background-color: #ff5e03;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
}
.box-tiket {
  padding: 30px;
  margin-top: 30px;
  background-color: #f2f2f2;
}
.text-align-left {
  text-align: left !important;
}

a {
  text-decoration: none !important;
}
.height48 {
  background-color: #ff5e03;
  color: white;
  outline: none;
  height: 48px !important;
}

.width100px {
  width: 150px;
}
.height48:hover {
  background-color: white;
  color: #ff5e03;
}
.orange {
  outline: none;
  height: 48px !important;
  width: 200px;
}
.margin-top-100 {
  margin-top: 100px;
}

.height-500 {
  height: 500px;
}

#hidden-popup {
  display: none;
}

.active {
  display: inline-block !important;
}
